.date-input__label {
  display: inline-block;
  margin-bottom: 15px;
  color: #fff;
}

.react-datepicker {
  font-family: inherit;
}

.react-datepicker-popper {
  z-index: 1000;
}

.react-datepicker__input-container::before {
  content: '';
  width: 30px;
  height: 34px;
  background: url('./input_type_data.svg') no-repeat center;
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.react-datepicker__input-container:hover input::placeholder {
  color: #2D2B2F;
}

.react-datepicker__day--weekend {
  font-weight: 600;
}

.react-datepicker__day.react-datepicker__day--disabled {
  color: #808080;
}

.react-datepicker__day.react-datepicker__day--outside-month {
  color: #e6e6e6;
}

.react-datepicker__header {
  padding: 20px 0;
}

.react-datepicker__navigation {
  border: 0.35rem solid transparent;
  top: 27px;
}

.react-datepicker__navigation--previous {
  border-right-color: #333333;
}

.react-datepicker__navigation--next {
  border-left-color: #333333;
}

.react-datepicker__current-month::first-letter {
  text-transform: uppercase;
}

.react-datepicker__day-names {
  display: none;
}
