.passengers {
  margin-bottom: 45px;
}

.passengers__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #292929;
  padding: 0 20px;
  margin-bottom: 30px;
}

.passengers__form {
  display: flex;
  padding: 0 5px;
}

.passengers__form-item {
  flex: 0 1 310px;
  padding: 20px 36px;
}

.form-item_active {
  background: #F7F6F6;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.form-item_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.passengers__input {
  background: #FFFFFF;
  border: 1px solid #928F94;
  border-radius: 5px;
  padding: 12px 17px;
  font-size: 16px;
  line-height: 18px;
  color: #292929;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
}

.passengers__form-hint {
  font-size: 16px;
  line-height: 19px;
  opacity: 0;
  pointer-events: none;
}

.form-item_active .passengers__form-hint {
  opacity: 1;
}

.input_type_children~.passengers__form-hint {
  color: #928F94;
}