.preloader {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.preloader__inner {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.preloader__text {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.preloader__train {
  opacity: 0;
  animation: trainAnimation 2s ease-in-out 0.5s infinite;
}

.preloader__line {
  opacity: 0;
  animation: lineAnimation 2s ease-in-out 0.5s infinite;
}

@keyframes trainAnimation {
  0% {
    opacity: 0;
    margin-left: 0;
    transform: translateX(-50%) scale(0.7);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    margin-left: 50%;
    transform: translateX(-50%) scale(1);
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    margin-left: 100%;
    transform: translateX(-50%) scale(0.7);
  }
}

@keyframes lineAnimation {
  0% {
    opacity: 0;
    margin-left: 100%;
    transform: translateX(-50%) scale(0.7);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    margin-left: 50%;
    transform: translateX(-50%) scale(1);
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    margin-left: 0;
    transform: translateX(-50%) scale(0.7);
  }
}