.order-filters {
  display: flex;
  flex-direction: column;
  width: 320px;
  background: #3E3C41;
}

.order-filters__direction {
  padding: 40px 35px 10px 30px;
  border-bottom: 1px solid #E5E5E5;
}

.order-filters__lable {
  margin-bottom: 15px;
}

.order-filters .react-datepicker-wrapper {
  width: 100%;
  margin-bottom: 26px;
}

.order-filters__params {
  padding: 25px 35px 25px 55px;
  border-bottom: 1px solid #E5E5E5;
}

.order-filters__cost {
  padding: 37px 34px 52px 32px;
  position: relative;
  border-bottom: 1px solid #E5E5E5;
}

.order-filters__drop-down {
  border-bottom: 1px solid #E5E5E5;
}

