@import './Components/CoachClassBtn/CoachClassBtn.css';
@import './Components/CoachWagons/CoachWagons.css';
@import './Components/CoachDetails/CoachDetails.css';
@import './Components/CoachScheme/CoachScheme.css';
.coach {
  padding-top: 25px;
  border-top: 1px dashed #C4C4C4;
}

.coach__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #292929;
  padding: 0 20px;
  margin-bottom: 30px;
}

.coach__classes {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin-bottom: 26px;
}