.order-tickets {
  overflow: hidden;
}

.order-tickets__inner {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.order-tickets__total-count {
  margin-right: auto;
}

.order-tickets__text {
  font-size: 16px;
  line-height: 21px;
  color: #928F94;
}

.order-tickets__filter {
  display: flex;
  align-items: center;
}

.order-tickets__filter:not(:last-child) {
  margin-right: 40px;
}

.order-tickets__filter-text {
  margin-right: 5px;
}

.order-tickets__filter-btn {
  font-size: 18px;
  line-height: 21px;
  color: #928F94;
  font-weight: 400;
}

.order-tickets__btn_active {
  color: #292929;
}

.order-tickets__filter-btn:hover {
  color: #292929;
}

.order-tickets__filter-btn:not(:last-child) {
  margin-right: 5px;
}