.find-tickets {
  background: rgba(41, 41, 41, 0.8);
  padding: 28px 24px 55px 21px;
}

.find-tickets__label {
  margin-bottom: 20px;
}

.find-tickets__input-group {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.find-tickets__direction-input {
  flex: 0 1 325px;
  position: relative;
}

.find-tickets__direction-input:not(:last-child) {
  margin-right: 40px;
}

.find-tickets__change-direction-btn {
  width: 24px;
  height: 24px;
  background: url('./findTickets__change-direction-icon.svg') no-repeat center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s transform;
}

.find-tickets__change-direction-btn:hover, .find-tickets__change-direction-btn:focus {
  transform: translate(-50%, -50%) rotate(180deg);
}

.find-tickets__btn-inner {
  text-align: right;
}

/* column-direction */

.find-tickets_direction_column {
  flex: 1 1 auto;
  max-width: 730px;
  padding-top: 79px;
}

.find-tickets_direction_column .find-tickets__inner {
  margin-bottom: 92px;
}

.find-tickets_direction_column .find-tickets__content:not(:last-child) {
  margin-bottom: 61px;
}

/* row-direction */

.find-tickets_direction_row {
  margin-right: -42px;
  margin-left: -42px;
}

.find-tickets_direction_row .find-tickets__inner {
  display: flex;
  margin-bottom: 47px;
}

.find-tickets_direction_row .find-tickets__content {
  flex: 1 1 auto;
}

.find-tickets_direction_row .find-tickets__content:not(:last-child) {
  margin-right: 35px;
}

/* datePicker */

.find-tickets .react-datepicker-wrapper {
  flex: 0 1 325px;
}

.find-tickets__input-group .react-datepicker-wrapper:first-child {
  margin-right: 40px;
}