.input-wrap {
  position: relative;
}

.input {
  border: none;
  padding: 12px 15px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 21px;
  width: 100%;
}

.input::placeholder {
  color: #E5E5E5;
}

.input_type_direction+label::before {
  content: '';
  width: 21px;
  height: 30px;
  background: url('./input_type_direction.svg') no-repeat center;
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.input_type_data+label::before {
  content: '';
  width: 30px;
  height: 34px;
  background: url('./input_type_data.svg') no-repeat center;
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.input:hover::placeholder, .input:focus::placeholder {
  color: #2D2B2F;
}

.input:hover.input_type_direction+label::before, .input:focus.input_type_direction+label::before {
  background: url('./input_type_direction-active.svg') no-repeat center;
}

.input:hover.input_type_data+label::before, .input:focus.input_type_data+label::before {
  background: url('./input_type_data-active.svg') no-repeat center;
}