.registration-form {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.registration-form__block {
  padding: 38px 35px 30px 35px;
}

.registration-form__block:not(:last-child) {
  border-bottom: 1px dashed #928F94;
}

.registration-form__form_valid .registration-form__block:not(:last-child) {
  opacity: 0.5;
  pointer-events: none;
}

/* head */

.registration-form__head {
  display: flex;
  align-items: center;
  background: #F9F9F9;
}

.registration-form__toggle-btn {
  margin-right: 16px;
}

.registration-form__btn {
  line-height: 0;
  transition: 0.2s opacity;
}

.registration-form__btn:hover, .registration-form__btn:focus {
  opacity: 0.7;
}

.registration-form__toggle-icon .vertical-line {
  opacity: 0;
}

.registration-form__toggle-btn_hidden .registration-form__toggle-icon .vertical-line {
  opacity: 1;
}

.registration-form__toggle-btn_hidden .registration-form__toggle-icon .line {
  stroke: #FFA800;
}

.registration-form__toggle-btn_hidden .registration-form__toggle-icon .circle {
  stroke: #FFA800;
}

.registration-form__title {
  font-size: 25px;
  line-height: 30px;
  color: #292929;
  font-weight: 500;
}

.registration-form__close-btn {
  margin-left: auto;
}

/* body */

/* personal-data */

.registration-form__drop-down {
  max-width: 230px;
  border: 1px solid #928F94;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
}

.registration-form__drop-down::before {
  content: '';
  width: 12px;
  height: 5px;
  background: url('./registration-form_icon_drop-down.svg') no-repeat center;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.registration-form__ticket-type {
  margin-bottom: 45px;
}

.registration-form__drop-down:hover {
  border: 1px solid transparent;
}

.registration-form__drop-down .hover-drop-down {
  margin: -1px;
}

.registration-form__drop-down .hover-drop-down__list {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

/* row */

.registration-form__row {
  display: flex;
  margin-bottom: 50px;
}

.registration-form__row:last-child {
  margin-bottom: 0;
}

/* radio-toggle */

.registration-form__radio-toggle {
  margin-right: 35px;
}

/* documents */

.registration-form__block_type_documents {
  display: flex;
  align-items: flex-start;
}

.registration-form__drop-down-wrap {
  flex: 0 0 270px;
  margin-right: 35px;
}

.registration-form__drop-down-wrap .registration-form__drop-down {
  max-width: 100%;
}

.registration-form__drop-down-label {
  font-size: 16px;
  line-height: 19px;
  color: #928F94;
  display: inline-block;
  margin-bottom: 10px;
}

.registration-input.registration-form__document-input {
  flex: 0 0 150px;
}

/* submit */

.registration-form__submit {
  display: flex;
  align-items: center;
}

.registration-form__submit_type_invalid {
  background: rgba(255, 61, 0, 0.38);
}

.registration-form__submit_type_valid {
  background: #B2F6A1;
}

.registration-form__validation-text {
  max-width: 480px;
  font-size: 16px;
  line-height: 19px;
  color: #292929;
  display: flex;
  align-items: center;
}

.registration-form__validation-text::before {
  content: '';
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  margin-right: 16px;
}

.registration-form__submit_type_invalid .registration-form__validation-text::before {
  background: url('./registration-form_icon_non-valid.svg') no-repeat center;
}

.registration-form__submit_type_valid .registration-form__validation-text::before {
  background: url('./registration-form_icon_valid.svg') no-repeat center;
}

.registration-form__submit-btn {
  margin-left: auto;
  border: 1px solid #292929;
  border-radius: 5px;
  padding: 10px 20px;
}

.registration-form__submit-btn:hover, .registration-form__submit-btn:focus {
  opacity: 0.7;
}

.registration-form__submit_type_valid .registration-form__submit-btn {
  display: none;
}