.registration-input {
  flex: 0 0 230px;
  max-width: 230px;
}

.registration-input_size_big {
  flex: 0 0 275px;
  max-width: 275px;
}

.registration-input_size_middle {
  flex: 0 0 210px;
  max-width: 210px;
}

.registration-input_size_small {
  flex: 0 0 140px;
  max-width: 140px;
}

.registration-input:not(:last-child) {
  margin-right: 25px;
}

.registration-input__label {
  font-size: 16px;
  line-height: 19px;
  color: #928F94;
  display: inline-block;
  margin-bottom: 10px;
}

.registration-input__input {
  width: 100%;
  border: 1px solid #928F94;
  border-radius: 5px;
  padding: 7px 20px 7px 10px;
}