@import './OrderSteps/OrderSteps.css';
@import './OrderFilters/OrderFilters.css';
@import './LastTickets/LastTickets.css';
@import './OrderTickets/OrderTickets.css';
@import './Tickets/Tickets.css';
@import './OrderSeats/OrderSeats.css';
@import './PathDetails/PathDetails.css';
/*  */

.order-page__head {
  padding-top: 265px;
  background: url('./order-page__img.jpg') no-repeat center/cover;
}

.order-page__body {
  padding-top: 95px;
  padding-bottom: 150px;
  background: #F7F5F9;
  
}

.order-page__inner {
  display: flex;
}

.order-page__aside {
  margin-right: 50px;
}

.order-page__content {
  flex: 1 1 auto;
}