.input { 
  border: none;
  padding: 12px 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.input::placeholder {
  color: #E5E5E5;
}

.input:hover::placeholder, .input:focus::placeholder {
  color: #2D2B2F;
}

.input_size_big {
  padding: 15px;
}

.input_type_direction {
  padding-right: 80px;
  background: transparent;
  position: relative;
  z-index: 5;
}
