.btn {
  border: none;
  background: none;
  outline: none;
  appearance: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  transition: 0.1s all;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.btn_theme_yellow {
  background: #FFA800;
}

.btn_theme_transparent {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.btn_theme_yellow:hover, .btn_theme_yellow:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_theme_transparent:hover, .btn_theme_transparent:focus {
  background: #FFCA62;
  border: 1px solid #FFCA62;
  color: #2D2B2F;
}

.btn_theme_transparent:active {
  background: #FFF;
}

.btn_theme_white {
  background: #FFF;
  border: 1px solid #292929;
  color: #292929;
}

.btn_theme_white:hover, .btn_theme_wthite:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFA800;
}

.btn_theme_white:active {
  color: #292929;
  background: #FFCA62;
  border: 1px solid #FFCA62;
}

.btn_size_big {
  padding: 13px;
  max-width: 250px;
  width: 100%;
}

.btn_size_middle {
  padding: 15px;
}

.btn_size_small {
  padding: 10px;
}