.direction-input {
  position: relative;
}

.direction-input::before {
  content: '';
  width: 21px;
  height: 30px;
  background: url('./input_type_direction.svg') no-repeat center;
  position: absolute;
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
  z-index: 5;
}

.direction-input__list {
  list-style: none;
  position: absolute;
  background: #F5F4F6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  right: 0;
  left: 0;
  top: 58px;
  z-index: 5;
  overflow: hidden;
  z-index: 100;
}

.direction-input__list_hidden {
  display: none;
}

.direction-input__list-btn {
  padding: 4px 15px 4px 15px;
  font-size: 16px;
  font-variant: small-caps;
  width: 100%;
  text-align: left;
  border-radius: 0;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.direction-input__hint {
  padding: 4px 15px 4px 15px;
  font-size: 16px;
  font-variant: small-caps;
}

.direction-input__list-btn:hover, .direction-input__list-btn:focus {
  background: #FFA800;
}

.direction-input__hint-span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  padding: 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  background: #fff;
  color: #C4C4C4;
}