.drop-down__title {
  color: #fff;
  display: flex;
  font-size: 23px;
  line-height: 26px;
  font-weight: 600;
}

.drop-down__title::before {
  content: '';
  flex: 0 0 32px;
  width: 32px;
  height: 26px;
  margin-right: 10px;
}

.drop-down_title-type_there::before {
  background: url('./drop-down_title-icon_there.svg') no-repeat center;
}

.drop-down_title-type_back::before {
  background: url('./drop-down_title-icon_back.svg') no-repeat center;
}

.drop-down_title-type_passengers::before {
  background: url('./drop-down_title-icon_passengers.svg') no-repeat center;
}

.drop-down__date-span {
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  align-self: flex-end;
  margin-left: 15px;
}

.drop-down__head {
  display: flex;
  align-items: center;
  padding: 33px 37px 34px 32px;
}

.drop-down__body {
  height: 0;
  overflow: hidden;
  transition: 0.5s height;
}

.drop-down__body-content {
  padding: 0px 37px 60px 32px;
}

.drop-down__btn {
  margin-left: auto;
  line-height: 0;
}

.drop-down__icon {
  align-self: center;
  transition: .2s transform;
}

.drop-down__btn:hover .drop-down__icon {
  transform: scale(1.2);
}

.drop-down_active .svg-plus {
  fill: none;
}

/* range-input */

.drop-down__range-input:not(:last-child) {
  margin-bottom: 55px;
}

.drop-down__range-input .input-range {
  height: 8px;
}

.drop-down__range-input .input-range__slider {
  margin-top: -10px;
  width: 14px;
  height: 14px;
}

.drop-down__range-input .range-input__label {
  font-size: 16px;
  line-height: 20px;
}

.drop-down__range-input:nth-child(2n) .range-input__label {
  display: flex;
  justify-content: flex-end;
}