.welcome {
  background: url('./wellcome__img3.jpg') no-repeat center/cover;
  min-height: 985px;
  position: relative;
}

.welcome__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 350px;
  /* zoom: 0.9; */
}

.welcome__title {
  max-width: 510px;
  margin-left: 95px;
}

.welcome__progress-bar {
  background-color: #FFA800;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}